.cabecalho {
  max-width: 1200px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.cabecalho-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.cabecalho-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 5px 20px;
  color: #141414;
  display: block;
  text-decoration: none;
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .cabecalho-menu a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}

.marca {
  align-self: start;
}
